<head>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".title_link").click(function(){
			var title = $(this).text();
			var artist = $("#artist").val();
			ajax_call("/search_album?artist="+artist+"&album="+title);
		});
	});
	</script>
</head>
<body>
	<input type="hidden" id="artist" value="{{artist}}"/>
		<ul>
		{% for item in list %}
			<li>
				<img src="{{item["image"]}}"/>
				<a class="title_link" href="#">{{item["title"]}}</span>
			</li>
		{% endfor %}
	</ul>
</body>