{% extends "master.html" %}
{% block body %}
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$("#search_btn").click(function() {
				var query = $("#query_input").val();
				if(query)
					render_partial("/search?q="+query);
			});

			$("#query_input").keyup(function(event){
			    if(event.keyCode == 13){
			        $("#search_btn").click();
			    }
		    });

		    $("#albums_list_btn").click(function() {
				var artist = $("#album_artist_input").val();
				if(artist)
					render_partial("/artist?artist="+artist);
			});

			$("#top_tracks_btn").click(function() {
				var artist = $("#album_artist_input").val();
				if(artist)
					render_partial("/top?artist="+artist);
			});

			$("#podcasts_list").click(function() {
				render_partial("/podcast_list");
			});

			$("#album_artist_input").keyup(function(event){
			    if(event.keyCode == 13){
			        $("#search_album_btn").click();
			    }
			});
		});

		function render_partial(url)
	    {
	      $.ajax({
	        type: "GET",
	        contentType: "application/json; charset=utf-8",
	        url: url,
	        success:function(result) {
	          $("#partial_body").html(result)
	        }
	      });
	    }
		</script>
	</head>
	<body>
		<input id="query_input" type="text"/>
		<input id="search_btn" type="button" value="search"/>
		<br/>
		<br/>
		Artist: <input id="album_artist_input" type="text"/>
		<input id="albums_list_btn" type="button" value="Albums list"/>
		<input id="top_tracks_btn" type="button" value="Top tracks"/>
		<br/>
		<a id="podcasts_list" href="#">Podcasts</a>
		<div id="partial_body"></div>
	</body>
{% endblock %}