<!doctype html>
<html>
<head>
  <script src="/static/js/jquery-1.5.min.js" type="text/javascript"></script>
  <script src="/static/js/socketio/socket.io.min.js"></script>
  <script src="/static/js/player.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".pause_link").click(function() {
        ajax_call("pause");
        return false;
      });

      $(".stop_link").click(function() {
        ajax_call("clear");
        return false;
      });

      $(".previous_link").click(function() {
        ajax_call("previous");
        return false;
      });

      $(".next_link").click(function() {
        ajax_call("next");
        return false;
      });

      $(".volume_minus_link").click(function() {
        ajax_call("volume_minus");
        return false;
      });

      $(".volume_plus_link").click(function() {
        ajax_call("volume_plus");
        return false;
      });

    });

    function ajax_call(function_name)
    {
      $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/" + function_name
      });
    }

  </script>
</head>
<div class="page">
  <div id="current_playing_song">{{current_song}}</div>
  <a class="pause_link" href="#">[PAUSE]</a>
  <a class="stop_link" href="#">[STOP]</a>
  <a class="previous_link" href="#">[PREVIOUS]</a>
  <a class="next_link" href="#">[NEXT]</a>
  <a class="volume_minus_link" href="#">[VOL -]</a>
  <a class="volume_plus_link" href="#">[VOL +]</a>

  <a class="playlist_link" href="/playlist">[PLAYLIST]</a>
  <br/>
  {% block body %}
  {% endblock %}
</div>
</html>