<script src="/static/js/perfect-scrollbar-0.4.1.min.js" type="text/javascript"></script>

<link href="/static/css/perfect-scrollbar-0.4.1.min.css" rel="stylesheet">
<link href="/static/css/playlist.css" rel="stylesheet">

<script type="text/javascript">
$(document).ready(function(){
	$("#clear_link").click(function(){
		$.ajax({
			type: "GET",
			contentType: "application/json; charset=utf-8",
			url: "/clear",
			dataType: 'jsonp',
			success:function() {}
		});
		return false;
	});

	$(".button.play").click(function(){
		var id = $(this).closest('div').attr("data-id")
		$.ajax({
			type: "GET",
			contentType: "application/json; charset=utf-8",
			url: "/play",
			data: { id : id },
			dataType: 'jsonp',
			success:function() {}
		});
		return false;
	});

	$(".button.remove").click(function(){
		var id = $(this).closest('div').attr("data-id")
		$.ajax({
			type: "GET",
			contentType: "application/json; charset=utf-8",
			url: "/remove",
			data: { id : id },
			dataType: 'jsonp',
			success:function() {}
		});
		return false;
	});
	$("#playlist_container").perfectScrollbar();
});
$(window).load(function(){
	$("#playlist_container").perfectScrollbar('update');
});
</script>

<div id="playlist_container">
	<div id="playlist_container_inner">
		{% for item in list %}
			<div class="track_container" data-id="{{item["id"]}}">
				<a class="small button play" href="#"></a>
				<div class="track_properties">
					<span class="title">{{item["title"]}}</span>
					<span class="artist">{{item["artist"]}}</span>
					<!-- [<span class="duration">{{item["duration"]}}</span>] -->
				</div>
				<a class="small button remove" href="#"></a>
				{% if item["current"] %}
					playing...
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
