{% extends "master.html" %}
{% block body %}
<head>
	<script src="/static/js/jquery-1.5.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#clear_link").click(function(){
			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "/clear",
				dataType: 'jsonp',
				success:function() {}
			});
			return false;
		});

		$(".play_link").click(function(){
			var id = $(this).closest('li').attr("data-id")
			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "/play",
				data: { id : id },
				dataType: 'jsonp',
				success:function() {}
			});
			return false;
		});

		$(".remove_link").click(function(){
			var id = $(this).closest('li').attr("data-id")
			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "/remove",
				data: { id : id },
				dataType: 'jsonp',
				success:function() {}
			});
			return false;
		});
	});
	</script>
</head>
<body>
	<ul>
		{% for item in list %}
			<li data-id="{{item["id"]}}">
				<span class="artist">{{item["artist"]}}</span>
				&nbsp;-&nbsp;
				<span class="title">{{item["title"]}}</span>
				&nbsp;
				[<span class="duration">{{item["duration"]}}</span>]
				<a class="play_link" href="#">[Play]</a>
				<a class="remove_link" href="#">[Remove]</a>
				{% if item["current"] %}
					playing...
				{% endif %}
			</li>
		{% endfor %}
	<a href="#">[Clear playlist]</a>
	<br/>
	<a id="search" href="/">[Back to search]</a>
</body>
{% endblock %}