<head>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".play_latest").click(function(){
			var url = $(this).attr('data-url');
			render_partial(url);
		})

		$(".play_latest").click(function(){
			var url = $(this).attr('data-url');
			ajax_call(url);
		})
	});
	</script>
</head>
<body>
	<ul>
		{% for item in list %}
			<li class="podcast_functions">
				<a class="title_link" hre="#">{{item}}</span>
				<a class="list" data-url="/podcast?title={{item}}&m=list" href="#">[List]</a>
				<a class="play_latest" data-url="/podcast?title={{item}}&m=latest" href="#">[Play latest]</a>
			</li>
		{% endfor %}
	</ul>
</body>
